@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);

header {
    background-color: mistyrose;
    margin: 0px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

body {
    font-family: 'Oxygen', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 1050px;
    min-width: 1050px;
}

#login{
    visibility: visible;
}

.page-title{
    margin: 0px;
}

.cards {
    margin: 0;
    padding: 0;
    min-height: 600px;
    background-color: lemonchiffon;
}

.card {
    list-style: none;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 5px;
    clear: both;
    visibility: hidden;
}

.card img {
    float: left;
    max-width: 150px;
    border-radius: 5px;
}

.card .details {
    padding-left: 170px;
}

.card .name,
.card .title,
.card p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.card .title {
    font-size: 150%;
}

.card .department {
    font-size: 125%;
}

#overlay{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    line-height: 200px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;

    z-index: 10; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

